<!DOCTYPE html>
<html lang="en">
<head>
    <script data-ad-client="ca-pub-3885784099169729" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <SCRIPT language=JavaScript>
        var message = "THANK YOU FOR REACHING EPLANGO";
        function rtclickcheck(keyp){ if (navigator.appName == "Netscape" && keyp.which == 3){ alert(message); return false; }
                                    if (navigator.appVersion.indexOf("MSIE") != -1 && event.button == 2) { alert(message); return false; } }
        document.onmousedown = rtclickcheck;
    </SCRIPT>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EPLANGO | Digital Marketing</title>
	<link rel="icon" type="image/png" href="~/Eplango-Icon.png">
    <link rel="stylesheet" type="text/css" href="~/css/servicesMain.css" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/kursor/dist/kursor.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap" rel="stylesheet">
</head>
<body class="body-style">
    <div class="home">
        <!--Start of preloader-section-->
        <section class="preloader-section">
            <div class="preloader">
                <div class="loader-logo text-center">
                    <img src="~/img/logo.png" alt="">
                    <div class="svg-wrapper">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 318 64.9" style="enable-background:new 0 0 318 64.9;" xml:space="preserve">
                        <style type="text/css">
                            .st0 {
                                fill: none;
                            }

                            .st1 {
                                fill: #f3703c;
                                stroke: #f3703c;
                                stroke-width: 3;
                                stroke-miterlimit: 10;
                            }
</style>
                        <g>
                        <rect y="4.1" class="st0" width="324.7" height="130.9" />
                        <path class="st1" d="M33.8,24.9v11.9H23.4c-1.4,0-2.4,0.2-3,0.6c-0.6,0.4-0.9,1.1-0.9,2.1c0,1.1,0.3,1.9,0.9,2.2
                                c0.6,0.4,1.8,0.5,3.7,0.5h10.7v15.2H22.3c-5.9,0-10.3-1.4-13.4-4.2c-3.1-2.8-4.6-6.8-4.6-12.1V20.2c0-5.1,1.5-9.1,4.4-11.9
                                S15.7,4.1,21,4.1h13.8v15.3H24.7c-2.7,0-4.1,0.9-4.1,2.7c0,1,0.3,1.8,1,2.2c0.7,0.4,1.8,0.6,3.5,0.6H33.8z" />
                        <path class="st1" d="M61.2,39V25c3.2,0,4.8-1.2,4.8-3.7c0-2.2-1.2-3.4-3.7-3.4c-2.5,0-3.7,1.5-3.7,4.6v34.8H42.8V24.2
                                c0-3.4,0.3-6.3,1-8.5c0.7-2.2,1.9-4.3,3.5-6.2c1.9-2.1,4.2-3.8,7-5c2.8-1.2,5.7-1.8,8.7-1.8c5.4,0,10,1.8,13.7,5.5
                                c3.7,3.6,5.5,8.2,5.5,13.6c0,5.2-1.7,9.5-5,12.7c-3,3-7.6,4.5-13.7,4.5L61.2,39z" />
                        <path class="st1" d="M87.8,4.1h15.9v31.7c0,2.5,0.4,4.1,1.2,4.9c0.8,0.8,2.4,1.2,4.7,1.2h0.8v15.5h-4.2c-5.8,0-10.3-1.7-13.5-5.1
                                c-3.2-3.4-4.8-8.1-4.8-14V4.1z" />
                        <path class="st1" d="M135,30.7v14.1h-4.6v12.7h-15.9V23.5c0-6.6,1.8-11.7,5.4-15.3c3.6-3.6,8.6-5.4,15.1-5.4
                                c6.3,0,10.9,1.6,13.9,4.9c3,3.3,4.5,8.4,4.5,15.3v34.5h-15.9V24c0-2.1-0.2-3.5-0.7-4.3c-0.5-0.8-1.4-1.2-2.7-1.2
                                c-2.5,0-3.7,1.8-3.7,5.5v6.6H135z" />
                        <path class="st1" d="M162,57.4V22.8c0-6.1,1.8-10.9,5.4-14.6c3.6-3.6,8.5-5.5,14.5-5.5c6,0,10.6,1.8,13.8,5.3
                                c3.2,3.5,4.8,8.6,4.8,15.3v34.1h-15.9V23.4c0-3.3-1.2-4.9-3.5-4.9c-2.2,0-3.4,1.6-3.4,4.9v34.1H162z" />
                        <path class="st1" d="M232.7,27.6h15.1c3.3,4,4.9,8.3,4.9,12.8c0,5.2-1.9,9.6-5.7,13.1c-3.8,3.5-8.5,5.3-14.1,5.3
                                c-7.2,0-13.4-2.7-18.4-8.2c-5.1-5.5-7.6-12.2-7.6-20.1c0-7.9,2.6-14.5,7.7-19.8c5.1-5.3,11.6-7.9,19.3-7.9c2.6,0,5.5,0.5,8.8,1.6
                                v15.9c-2.5-1.2-4.8-1.8-6.8-1.8c-3.7,0-6.8,1.2-9.1,3.5c-2.4,2.3-3.5,5.3-3.5,9c0,3.8,1.1,6.8,3.3,9c2.2,2.2,5.1,3.3,8.9,3.3
                                c2.4,0,3.6-0.7,3.6-2.1c0-1-0.8-1.6-2.3-1.6h-3.8V27.6z" />
                        <path class="st1" d="M284.5,2.8c7.6,0,14,2.7,19.4,8.2c5.4,5.5,8.1,12.1,8.1,19.7c0,7.8-2.7,14.4-8.2,19.8
                                c-5.4,5.4-12.1,8.2-19.8,8.2c-7.7,0-14.3-2.7-19.8-8.2S256,38.5,256,30.8c0-7.8,2.8-14.4,8.3-19.8C269.7,5.5,276.5,2.8,284.5,2.8z
                                M284,18.5c-3.3,0-6,1.2-8.3,3.6c-2.3,2.4-3.4,5.3-3.4,8.7c0,3.4,1.2,6.3,3.5,8.7c2.3,2.4,5.1,3.6,8.3,3.6c3.3,0,6.1-1.2,8.3-3.6
                                c2.3-2.4,3.4-5.3,3.4-8.7c0-3.4-1.1-6.3-3.4-8.7C290,19.7,287.3,18.5,284,18.5z" />
                        </g>
                        </svg>
                    </div>
                </div>
            </div>
        </section>
        <!--End of preloader-section-->
        <!--Start of nav-section-->
        <section class="nav-section">
            <header>
                <nav class="navbar navbar-expand-lg navbar-light fixed-top">
                    <div class="container">
                        <a class="navbar-brand" href="@Url.Action("Index", "Home")"><img class="epalngo-logo" src="~/img/logo.png" alt="eplango"></a>
                        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("Index", "Home")">Home</a>
                                    <!--
                                        <svg class="text-stroke-about scroll-block js-scroll-block is-show" data-type="svg" viewBox="0 0 114.4 55">
                                        <path d="M89 19.6c-6.8-3.8-74.2-41.8-86.7 4.3s109.1 29.2 111 8.8S71.3 2 71.3 2" fill="none" stroke="#f3703c" stroke-width="1.5" stroke-linecap="round" stroke-miterlimit="10" data-svg-origin="1.3985595703125 1.2765541076660156" transform="matrix(1,0,0,1,0,0)" style="stroke-dashoffset: 1e-05; stroke-dasharray: none;"></path>
                                        </svg>
                                    -->
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("About", "Home")">About</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="@Url.Action("Services", "Home")">Services</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("Contact", "Home")">Contact</a>
                                </li>
                                <div class="social-icons">
                                    <a href="https://www.facebook.com/eplango.official/"><i class="fa fa-facebook"></i></a>
                                    <a href="https://twitter.com/eplangoofficial"><i class="fa fa-twitter"></i></a>
                                    <a href="https://www.instagram.com/eplango.official/"><i class="fa fa-instagram"></i></a>
                                </div>
                                <!--
                                    <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#"><i class="fab fa-instagram"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
                                    </li>
                                -->
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
        </section>
        <!--End of nav-section-->
        <!--Start of Hero-section-->
        <section class="hero-section">
            <div class="container">
                <div class="row main-hero-content">
                    <div class="col-md-6 slogan">
                        <h1>We generate mind-boggling <span>Ideas</span></h1>
                        <!--
                        <div class="hero-buttons">
                            <a class="btn-main" href="#">Explore</a>
                        </div>
                        -->
                    </div>
                    <div class="col-md-6 bgg-main">
                        <img class="services-image" src="~/icons/144.png">
                    </div>
                </div>
            </div>
            <div class="scrolls" style="visibility: inherit;opacity: 1;transform: matrix(0.85205, 0.52346, -0.52346, 0.85205, 0, 0);">
                <img draggable="false" src="~/img/sroll-01.png" alt="scroll">
            </div>
            <div class="element1"></div>
            <div class="element2"></div>
        </section>
        <!--End of Hero-section-->
        <!--Start of services-section-->
        <section class="services-section global-section">
            <div class="left-bg"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 order-lg-2">
                        <div class="about-text">
                            <div class="title text-left">
                                <h3><span>E</span>plango</h3>
                                <h2>Services</h2>
                            </div>
                            <div class="about-inner mt-30">
                                <p>The visualization of each servuce will obey the service concept that we developed the unique that each service carries within can be expressed freely by our team members to deliver inspireble results.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End of services-section-->
        <!--Start of Space-between-->
        <div class="between">
            <div class="line-between" style="height: 100px;"></div>
        </div>
        <!--End of Space-between-->
        <!--Start of branding-section-->
        <section class="branding-section global-section mt-5">
            <div class="right-bg"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 order-lg-2">
                        <div class="about-text">
                            <div class="title text-left">
                                <h2>Branding and Positioning</h2>
                            </div>
                            <div class="about-inner mt-30">
                                <p>
                                    When the brand, we define. Definition means giving certain characteristics to a concept. These Characteristics will visually appear
                                    in the brand identity. Each element of the identity presentation
                                    must deliver the primary value of the brand. All the great brands
                                    are those that have come to realize the psyche of the consumer.
                                    Over the years, they have created an emotional, trustworthy, and
                                    irreplaceable bond.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6"></div>
                </div>
            </div>
        </section>
        <!--End of branding-section-->
        <!--Start of social-media-section-->
        <section class="social-media-section global-section mt-5">
            <div class="left-bg"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 order-lg-2">
                        <div class="about-text">
                            <div class="title text-left">
                                <h2>Social Media</h2>
                            </div>
                            <div class="about-inner mt-30">
                                <p>
                                    All clients moving to digital marketing, an essential step is to
                                    have a platform to generate audience.
                                    Every user of these platforms might be a potential customer
                                    if you know how to communicate to them, here comes our
                                    part, a plan that gets you from this point to a further point
                                    listed in your goals followed by data analysis of youraudience
                                    behavior,
                                    We have plenty of tactics and attributes that can expand
                                    your audience when it comes to social media marketing.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End of social-media-section-->
        <!--Start of Space-between-->
        <div class="between">
            <div class="line-between" style="height: 100px;"></div>
        </div>
        <!--End of Space-between-->
        <!--Start of videography-section-->
        <section class="videography-section global-section mt-5">
            <div class="right-bg"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 order-lg-2">
                        <div class="about-text">
                            <div class="title text-left">
                                <h2>Videography</h2>
                            </div>
                            <div class="about-inner mt-30">
                                <p>
                                    One of the most effective marketing tools is “Video”
                                    The equation of every brand includes two sides, attraction,
                                    and conversion, the attraction part relies on the marketing
                                    boom of a video, for example, all international brands know
                                    how to produce a video that leaves the consumer no choice
                                    rather than choosing you to fulfill his needs. Elements like
                                    video idea, storyboarding, written script or the post-production process can all combine to alter your brand entirely to
                                    the next level.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6"></div>
                </div>
            </div>
        </section>
        <!--End of videography-section-->
        <!--Start of motion-graphic-section-->
        <section class="motion-graphic-section global-section mt-5">
            <div class="left-bg"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 order-lg-2">
                        <div class="about-text">
                            <div class="title text-left">
                                <h2>Motion Graphic</h2>
                            </div>
                            <div class="about-inner mt-30">
                                <p>
                                    Demand for 2D animators who can create entertaining and
                                    engaging content has grown significantly, Some of the
                                    most Successful iconic campaigns have used 2d animation
                                    to deliver outstanding value of products or services. Many
                                    demographic audience are very related to a character or a
                                    storyboard that touched their soul.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End of motion-graphic-section-->
        <!--Start of Space-between-->
        <div class="between">
            <div class="line-between" style="height: 100px;"></div>
        </div>
        <!--End of Space-between-->
        <!--Start of seo-section-->
        <section class="seo-section global-section mt-5">
            <div class="right-bg"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 order-lg-2">
                        <div class="about-text">
                            <div class="title text-left">
                                <h2>SEO</h2>
                            </div>
                            <div class="about-inner mt-30">
                                <p>
                                    Search engine optimization is concisely responsible for ranking you in google search. Why ranking is important?
                                    Because it will get more traffic to your website, hence you
                                    can achieve more conversion rates. Moving on from a local
                                    brand to an international brand needs this optimization.
                                    When you accomplish this move, this means that your
                                    market share will be extended.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6"></div>
                </div>
            </div>
        </section>
        <!--End of seo-section-->
        <!--Start of Web-design-section-->
        <section class="web-design-section global-section mt-5">
            <div class="left-bg"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 order-lg-2">
                        <div class="about-text">
                            <div class="title text-left">
                                <h2>Web Development</h2>
                            </div>
                            <div class="about-inner mt-30">
                                <p>
                                    When people interact with each other they might imply
                                    something called ” Emotional intelligence” But when it
                                    comes to the interaction between a user and a website or
                                    an application، it must have many "intelligent features" that
                                    cease user's confusion، helping him in understanding his
                                    desire and provide him with a very rational filtered product.
                                    Big brands don't need any template from WordPress, they
                                    need a web design that carries the brand's personality.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End of Web-design-section-->
        <!--Start of Space-between-->
        <div class="between">
            <div class="line-between" style="height: 100px;"></div>
        </div>
        <!--End of Space-between-->
        <!--Start of footer-section-->
        <div class="footer-print">
            <section class="footer-section">
                <footer class="footer">
                    <div class="container">
                        <div class="row">
                            <div class="line-testi"></div>
                            <div class="col-sm-12 col-md-12 col-lg-9 col-div">
                                <div class="row footer-top-wrap">
                                    <div class="col-md-3 col-sm-6">
                                        <div class="footer-nav-wrap text-white">
                                            <img src="~/img/logo.png" alt="logo" class="mb-2">
                                            <div class="social-icons">
                                                <a href="https://www.facebook.com/eplango.official/"><i class="fa fa-facebook"></i></a>
                                                <a href="https://twitter.com/eplangoofficial"><i class="fa fa-twitter"></i></a>
                                                <a href="https://www.instagram.com/eplango.official/"><i class="fa fa-instagram"></i></a>
                                                <a href="https://www.linkedin.com/in/eplangoofficial/"><i class="fa fa-linkedin"></i></a>
                                                <a href="https://www.behance.net/eplango_digital"><i class="fa fa-behance"></i></a>
                                                <a href="https://www.youtube.com/channel/UCaRIS3zzD9sBlcYbzDDRdWw"><i class="fa fa-youtube"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="footer-nav-wrap text-white">
                                            <h4 class="text-white">COMPANY</h4>
                                            <ul class="nav flex-column">
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#">About Our Services</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#">Our Affiliates Program</a>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="footer-nav-wrap text-white">
                                            <h4 class="text-white">LEGAL</h4>
                                            <ul class="nav flex-column">
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#">Privacy Policy</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#">Terms of Service</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
									<div class="col-md-3 col-sm-6 get-div">
                                        <div class="footer-nav-wrap text-white">
                                            <h4 class="text-white">GET IN TOUCH</h4>
                                            <ul class="nav flex-column">
                                                <li class="nav-item">
                                                    <span class="fa fa-map-marker mr-2"></span><p class="nav-details">19 B, Obour Buildings, Salah Salem Road Masr Al Jadidah, Cairo, Egypt.</p>
                                                </li>
                                                <li class="nav-item">
                                                    <span class="fa fa-paper-plane mr-2"></span><p class="nav-details">info@eplango.com.</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
							<!--start of footer-section-->
                           
							<!--end of footer-section-->
                        </div>
                    </div>
                </footer>
            </section>
        </div>
        <h6 class="copyright">©2020 <span>EPLANGO</span>. All rights reserved.</h6>
        <!--End of footer-section-->

        <div class="line-thumb">
            <div class="line-col first"></div>
            <div class="line-col second"></div>
            <div class="line-col third"></div>
            <div class="line-col fourth"></div>
            <div class="line-col fifth"></div>
        </div>
    </div>
	<script src="//code.tidio.co/cywihkjuospeikm3psvcixezyj0sifyi.js" async></script> <!-- Chatbot -->
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js"></script>
<script src="~/js/kursor.js"></script>
<script type="module" defer src="~/js/k.js">
</script>
<script src="~/js/stickyNavbar.js"></script>
<script src="~/js/animations.js"></script>
</html>